/* Bus route color sheet */

.route-1 { background-color: #E3D23E; color: #000000; }
.route-2 { background-color: #981F66; color: #FFFFFF; }
.route-3 { background-color: #CD8382; color: #000000; }
.route-4 { background-color: #42784D; color: #000000; }
.route-5 { background-color: #B46A5B; color: #000000; }
.route-6 { background-color: #CC382C; color: #000000; }
.route-7 { background-color: #AEC34B; color: #000000; }
.route-8 { background-color: #D8A464; color: #000000; }
.route-10 { background-color: #919249; color: #000000; }
.route-11 { background-color: #D3886A; color: #000000; }
.route-12 { background-color: #9B8821; color: #000000; }
.route-13 { background-color: #803E0E; color: #000000; }
.route-14 { background-color: #778D22; color: #000000; }
.route-15 { background-color: #C3C946; color: #000000; }
.route-16 { background-color: #B86FAD; color: #000000; }
.route-17 { background-color: #4D6BB1; color: #000000; }
.route-18 { background-color: #4A67AE; color: #000000; }
.route-19 { background-color: #B8DB99; color: #000000; }
.route-20 { background-color: #A7533E; color: #000000; }
.route-21 { background-color: #7F9784; color: #000000; }
.route-22 { background-color: #7DBC9F; color: #000000; }
.route-25 { background-color: #A29F9A; color: #000000; }
.route-26 { background-color: #653A91; color: #FFFFFF; }
.route-27 { background-color: #7DC0D0; color: #000000; }
.route-28 { background-color: #6AB6D1; color: #000000; }
.route-29 { background-color: #5C99A5; color: #000000; }
.route-30 { background-color: #DA8A39; color: #000000; }
.route-31 { background-color: #841D1D; color: #FFFFFF; }
.route-32 { background-color: #5580A9; color: #000000; }
.route-33 { background-color: #5FA79D; color: #000000; }
.route-34 { background-color: #976C25; color: #000000; }
.route-35 { background-color: #C8537D; color: #000000; }
.route-36 { background-color: #4D5613; color: #000000; }
.route-37 { background-color: #CB6B77; color: #000000; }
.route-38 { background-color: #8D89B3; color: #000000; }
.route-39 { background-color: #7493A8; color: #000000; }
.route-40 { background-color: #64ACCD; color: #000000; }
.route-44 { background-color: #8F8A64; color: #000000; }
.route-47 { background-color: #885CA0; color: #000000; }
.route-48 { background-color: #D77AA9; color: #000000; }
.route-50 { background-color: #D77734; color: #000000; }
.route-51 { background-color: #D05898; color: #000000; }
.route-52 { background-color: #6D2C50; color: #FFFFFF; }
.route-55 { background-color: #D5BC5B; color: #000000; }
.route-56 { background-color: #937A6C; color: #000000; }
.route-57 { background-color: #84743E; color: #000000; }
.route-58 { background-color: #A0A197; color: #000000; }
.route-59 { background-color: #E09FC0; color: #000000; }
.route-63 { background-color: #D7A23A; color: #000000; }
.route-67 { background-color: #6584A4; color: #000000; }
.route-68 { background-color: #5EA95A; color: #000000; }
.route-70 { background-color: #A8B1DA; color: #000000; }
.route-71 { background-color: #B67F72; color: #000000; }
.route-72 { background-color: #841D1D; color: #FFFFFF; }
.route-73 { background-color: #DFB93E; color: #000000; }
.route-74 { background-color: #B56336; color: #000000; }
.route-75 { background-color: #E0993A; color: #000000; }
.route-78 { background-color: #365AA6; color: #FFFFFF; }
.route-80 { background-color: #B33927; color: #000000; }
.route-81 { background-color: #DD9139; color: #000000; }
.route-82 { background-color: #3F6AB2; color: #000000; }
.route-84 { background-color: #60348E; color: #000000; }
